<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2018年爆款商品</title>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>

    <!-- FontAwesome 5 -->
    <script src="/static/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
    <!-- Page plugins -->
    <script src="/static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="/static/vendor/input-mask/input-mask.min.js"></script>
    <script src="/static/vendor/nouislider/js/nouislider.min.js"></script>
    <script src="/static/vendor/textarea-autosize/textarea-autosize.min.js"></script>
    <!-- Theme JS -->
    <script src="/static/js/theme.js"></script>
</head>

    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
      <div class="container">
        <a class="navbar-brand" href="./"><strong>数据可视化</strong></a>
        <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
          <ul class="navbar-nav ml-auto align-items-lg-center">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">销售数据</a>
              <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                <a class="dropdown-item" href="http://127.0.0.1:8081/national">全国统计</a>
                <a class="dropdown-item" href="http://127.0.0.1:8081/regional">地区/省份统计</a>
                <a class="dropdown-item" href="">二级菜单#</a>
                <a class="dropdown-item" href="">二级菜单#</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">产品数据</a>
              <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                <a class="dropdown-item" href="http://127.0.0.1:8081/proportion">产品占比与子类</a>
                <a class="dropdown-item" href="http://127.0.0.1:8081/price">价格分析!</a>
                <a class="dropdown-item" href="http://127.0.0.1:8081/product">爆款产品</a>
                <a class="dropdown-item" href="">商品推荐#</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">客户数据</a>
              <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                <a class="dropdown-item" href="http://127.0.0.1:8081/customer">客户分析</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="http://127.0.0.1:8081/delivery" >发货数据</a>
            </li>



            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://github.com/IIMercerII/Data_visualization_large_screen_project" target="_blank"><i class="fab fa-github"></i><span class="ml-2 d-lg-none">Github</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<style>
    #border-primary {
        width: 100vw;
        height: 100vh;
        float: left;
        /* border: 1px solid red; */
        margin: 0 auto;
    }

    #border-primary #bar_1 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar_2 {
        float: left;
        width: 50vw;
        height: 100vh;
    }
    #border-primary #bar_3 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar_4 {
        float: left;
        width: 50vw;
        height: 100vh;
    }
</style>

<div id="border-primary">
    <div id="bar_1" style="width:45vw;height:45vh"></div>
    <div id="bar_2" style="width:45vw;height:45vh"></div>
    <div id="bar_3" style="width:45vw;height:45vh"></div>
    <div id="bar_4" style="width:45vw;height:45vh"></div>
</div>
<script type="text/javascript">
    var myChart1 = echarts.init(document.getElementById("bar_1"));
    //myChart.showLoading();
    option = {
        title: {
            text: '2018年产品销售额、利润散点图',
        },
        legend: {
            orient: 'vertical',
            data: ['办公用品', '技术', '家具'],
            //top: '20%',
            left: 'right'
        },
        xAxis: {
            scale: true, name: '销量'
        },
        yAxis: {
            scale: true, name: '利润'
        },
        series: [
            {
                name: '办公用品',
                symbolSize: 20,
                color: 'green',
                data: [
                    [105327.74,12814.9],
                    [100120.3,23820.44],
                    [94448.06,12451.32],
                    [742565.264,58257.724],
                    [85206.8,19782.56],
                    [46102.672,6009.332],
                    [32976.44,7652.54],
                    [406211.54,112932.26],
                    [67805.5,-3884.99]
                ],
                type: 'scatter'
            },
            {
                name: '技术',
                symbolSize: 20,
                color: 'blue',
                data: [
                    [326771.032,50524.012],
                    [604625.644,62456.044],
                    [250100.62,34807.08],
                    [623829.752,92080.632]
                ],
                type: 'scatter'
            },
            {
                name: '家具',
                symbolSize: 20,
                color: 'red',
                data: [
                    [632911.916,87722.796],
                    [826332.612,133945.812],
                    [169770.468,31127.768],
                    [349872.019,-65510.50]
                ],
                type: 'scatter'
            }
        ]
    };
    myChart1.setOption(option);
</script>
<script type="text/javascript">
    var myChart2 = echarts.init(document.getElementById("bar_2"));
    option = {
        title: {
            text: "办公用品—TOP5（2018年）"
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['销售额', '利润'],
            left: 'right',
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'value',
                name: '销售额（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },

            {
                type: 'value',
                name: '利润（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            }
        ],
        yAxis: [
            {
                type: 'category',
                data: ['Hamilton Beach 冰箱, 黑色', 'Breville 炉灶, 白色', 'Hamilton Beach 炉灶, 白色', 'Hoover 炉灶, 红色', 'Hamilton Beach 炉灶, 红色']
            }
        ],
        series: [
            {
                name: '销售额',
                type: 'bar',
                label: {
                    show: true,
                    position: 'inside'
                },
                emphasis: {
                    focus: 'series'
                },
                data: [72269.680, 37610.496 ,  27744.640, 25998.028, 25309.200]
            },
            {
                name: '利润',
                type: 'bar',
                //stack: 'Total',
                label: {
                    show: true,
                    position: 'left'
                },
                emphasis: {
                    focus: 'series'
                },
                xAxisIndex: 1,
                data: [2165.660, -16300.704,2168.180, 1193.248, 0.000]
            }
        ]
    };
    myChart2.setOption(option);
</script>
<script type="text/javascript">
    var myChart3 = echarts.init(document.getElementById("bar_3"));
    option = {
        title: {
            text: "技术—top5(2018年)"
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['销售额', '利润'],
            left: 'right',
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'value',
                name: '销售额（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },

            {
                type: 'value',
                name: '利润（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            }
        ],
        yAxis: [
            {
                type: 'category',
                data: ['诺基亚 充电器, 混合尺寸', '摩托罗拉 充电器, 全尺寸', '诺基亚 充电器, 整包', '摩托罗拉 充电器, 混合尺寸','惠普 无线传真机, 彩色']
            }
        ],
        series: [
            {
                name: '销售额',
                type: 'bar',
                label: {
                    show: true,
                    position: 'inside'
                },
                emphasis: {
                    focus: 'series'
                },
                data: [50686.860, 48684.888, 45839.304,43380.288, 30378.600]
            },
            {
                name: '利润',
                type: 'bar',
                //stack: 'Total',
                label: {
                    show: true,
                    position: 'left'
                },
                emphasis: {
                    focus: 'series'
                },
                xAxisIndex: 1,
                data: [20660.780, 658.868, 5090.904,-4338.432,909.720]
            }
        ]
    };
    myChart3.setOption(option);
</script>
<script type="text/javascript">
    var myChart4 = echarts.init(document.getElementById("bar_4"));
    option = {
        title: {
            text: "家具-TOP5（2018年）"
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['销售额', '利润'],
            left: 'right',
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'value',
                name: '销售额（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },

            {
                type: 'value',
                name: '利润（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            }
        ],
        yAxis: [
            {
                type: 'category',
                data: ['Safco 书库, 传统', 'Harbour Creations 扶手椅', ' Bush 古典书架, 金属 ', 'SAFCO 扶手椅', 'Sauder 古典书架, 传统  ']
            }
        ],
        series: [
            {
                name: '销售额',
                type: 'bar',
                label: {
                    show: true,
                    position: 'inside'
                },
                emphasis: {
                    focus: 'series'
                },
                data: [45839.304, 42192.920, 41928.376, 35054.208, 33367.768]
            },
            {
                name: '利润',
                type: 'bar',
                //stack: 'Total',
                label: {
                    show: true,
                    position: 'left'
                },
                emphasis: {
                    focus: 'series'
                },
                xAxisIndex: 1,
                data: [5090.904, 4416.860, -540.204, 12116.608, 2847.768]
            }
        ]
    };
    myChart4.setOption(option);
</script>
